body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f8268;
    color: white;
    padding: 10px;
    padding-left: 375px;
}

.logo {
    font-size: 46px;
    font-weight: bold;
    margin-left: 50px;
}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

nav {
    background-color: #7b2b2b;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 135px;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}
.head{
    border: 4px solid;
    padding-left: 50px;
    margin-left: 400px;
    margin-right: 400px;
    background-color:#2f8268;
    color: white;
    
    
    
}




.image-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0;
    
}

.image-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.image-item img {
    width: 100%;
    height: auto;
}

.image-item p {
    padding: 10px;
    margin: 0;
    background-color: #f4f4f4;
}

.image-item:hover {
    transform: scale(1.05);
}
.image-item2 {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}
.image-item2 img {
    width: 100%;
    height: 500%;
}



